body{
    margin: 0%;
    padding: 0%;
}
.container-fluid{
    height: 100vh;
}
/* FIRST COLUMN */
.first-col{
    background-color: rgba(78, 142, 78, 0.381);
}
.user-name{
    display: flex;
    justify-content: space-around;
}
.compose-button{
    margin-top: 30px;
    padding-top: 60px;
}
.user-controls{
    margin-top: 70px;
}
.list-group-flush>.list-group-item{
    background-color: rgba(78, 142, 78, 0.381);

}


/* SECOND COLUMN  */

.emailListContainer{
    margin-top: 80px;
}
.emailList:hover{
    /* border: .5px dotted black; */
    /* box-shadow: 3px -2px 3px 1px blue; */
    box-shadow: 1px 2px 3px blue;
    transform: scale(.9);
    transition: 2s;
}