body{
    margin: 0%;
    padding: 0%;
}
.container-fluid,.row{
    height: 100vh;
}

.navbar{
    background-color: rgba(66, 56, 56, 0.336);
}

/* FIRST COLUMN */
.first-col{
    background-color: rgba(78, 142, 78, 0.381);
    overflow: hidden;

}
.user-name{
    display: flex;
    justify-content: space-around;
}
.compose-button{
    text-align: center;
    margin-top: 30px;
    padding-top: 60px;
}
.user-controls{
    margin-top: 70px;
}
.list-group-flush>.list-group-item{
    background-color: rgba(78, 142, 78, 0.381);
    overflow: hidden;

}


/* SECOND COLUMN  */
.second-col{
border: 5px groove rgba(78, 142, 78, 0.381);
}
.emailListContainer{
    margin-top: 80px;
}
.emailList:hover{
    border: 2px dotted black;
    /* box-shadow: 3px -2px 3px 1px blue; */
    box-shadow: 1px 2px 3px rgb(15, 15, 15);
    transform: scale(1.02);
    transition: 2s;
    overflow: none;
}

/* THIRD COLLUMN */

.emailName{
    display: flex;
    justify-content: space-between;

}
.recepients{
    overflow: none;
}
.third-col{
    border: 5px groove rgba(78, 142, 78, 0.381);
    overflow: none;

}
.claim-prize{
    display: flex;
    justify-content: center;
}



/* MEDIA QUERY */
@media screen and (max-width:500px) {
    .second-col{
        display: none;
    }
    
}